- content_for :title, "#{t('app.student_portal.pages.homework.title')} | danlio"
- summary = @homework_summary || { todo: 0, submitted: 0, needsAttention: 0 }
- counts = homework_tab_counts
- items = Array(@homework_items)

- assignment_url_template = student_homework_assignment_path('_ID_').sub('_ID_', ':id')
- response_url_template = homework_response_path('_ID_').sub('_ID_', ':id')
- submit_url_template = submit_homework_response_path('_ID_').sub('_ID_', ':id')

.sp-homework[
  data-controller="student-homework"
  data-student-homework-assignment-url-value=assignment_url_template
  data-student-homework-response-url-value=response_url_template
  data-student-homework-submit-url-value=submit_url_template
  data-student-homework-labels-value=student_homework_labels.to_json
]
  section.sp-hw-summary aria-label="#{t('app.student_portal.homework.summary')}"
    .sp-hw-stat
      span.sp-hw-stat__icon
        = portal_icon 'homework', size: 20
      span
        p.sp-hw-stat__label = t('app.student_portal.homework.todo')
        p.sp-hw-stat__value data-student-homework-target="todoStat" = summary[:todo]
    .sp-hw-stat
      span.sp-hw-stat__icon
        = portal_icon 'clock', size: 20
      span
        p.sp-hw-stat__label = t('app.student_portal.homework.submitted')
        p.sp-hw-stat__value data-student-homework-target="submittedStat" = summary[:submitted]
    .sp-hw-stat class=("is-warn" if summary[:needsAttention].to_i.positive?)
      span.sp-hw-stat__icon
        = portal_icon 'alert', size: 20
      span
        p.sp-hw-stat__label = t('app.student_portal.homework.needs_attention')
        p.sp-hw-stat__value data-student-homework-target="attentionStat" = summary[:needsAttention]

  section.sp-hw-panel
    .sp-hw-toolbar
      .sp-hw-tabs role="tablist" aria-label="#{t('app.student_portal.homework.status')}"
        - %w[todo submitted reviewed].each_with_index do |tab, index|
          button.sp-hw-tab class=("is-active" if index.zero?) type="button" role="tab" id="homework-tab-#{tab}" aria-selected=(index.zero? ? 'true' : 'false') aria-controls="homework-panel-#{tab}" data-tab=tab data-student-homework-target="tab" data-action="student-homework#setTab"
            span = t("app.student_portal.homework.#{tab}")
            span.sp-hw-count data-student-homework-target="count" data-tab=tab = counts[tab]

      .sp-hw-filters.sp-filters data-student-homework-target="filters"
        label.sp-hw-search
          span.sr-only = t('app.student_portal.homework.search')
          = portal_icon 'search', size: 18
          input type="search" placeholder="#{t('app.student_portal.homework.search')}" autocomplete="off" data-student-homework-target="search" data-action="input->student-homework#filter"
        button.sp-hw-filter-toggle type="button" aria-expanded="false" data-student-homework-target="filtersToggle" data-action="student-homework#toggleFilters"
          = portal_icon 'filter', size: 18
          span = t('app.student_portal.homework.filters')
        label.sp-hw-field
          span.sr-only = t('app.student_portal.homework.subject')
          select data-student-homework-target="subject" data-action="student-homework#filter"
            option value="" = t('app.student_portal.homework.all_subjects')
            - homework_subjects(items).each do |subject|
              option value=subject = subject
        label.sp-hw-field
          span.sr-only = t('app.student_portal.homework.teacher')
          select data-student-homework-target="teacher" data-action="student-homework#filter"
            option value="" = t('app.student_portal.homework.all_teachers')
            - homework_teachers(items).each do |teacher|
              option value=teacher = teacher
        label.sp-hw-field
          span.sr-only = t('app.student_portal.homework.due')
          select data-student-homework-target="due" data-action="student-homework#filter"
            option value="" = t('app.student_portal.homework.any_due')
            option value="overdue" = t('app.student_portal.homework.overdue')
            option value="due_soon" = t('app.student_portal.homework.due_soon')
            option value="later" = t('app.student_portal.homework.later')

    .sp-hw-list data-student-homework-target="list"
      - items.each do |item|
        = render 'student_portal/homework_card', item: item

    .sp-hw-empty class=("is-hidden" if items.any?) role="tabpanel" id="homework-panel-todo" aria-labelledby="homework-tab-todo" data-student-homework-target="empty"
      .sp-hw-empty__icon data-student-homework-target="emptyIcon"
        = portal_icon 'homework', size: 22
      .sp-hw-empty__icon.is-search hidden="hidden" data-student-homework-target="searchIcon"
        = portal_icon 'search', size: 22
      h3 data-student-homework-target="emptyTitle" data-todo="#{t('app.student_portal.homework.empty_todo')}" data-submitted="#{t('app.student_portal.homework.empty_submitted')}" data-reviewed="#{t('app.student_portal.homework.empty_reviewed')}" data-search="#{t('app.student_portal.homework.empty_search')}" = t('app.student_portal.homework.empty_todo')
      p data-student-homework-target="emptyText" = t('app.student_portal.homework.empty_todo_text')

  = render 'student_portal/homework_drawer'
