= turbo_frame_tag 'create_lesson' do
  - unless params[:dismiss]
    .calendar-page.calendar-create-host data-controller="calendar" data-calendar-embedded-value="true" data-calendar-i18n-value=app_i18n_json('app.calendar', 'app.statuses', 'app.common') data-calendar-lessons-value=@lessons_json data-calendar-teachers-value=@teachers.to_json data-calendar-students-value=@students.to_json data-calendar-teacher-id-value=(@preset_teacher_id.to_s) data-calendar-student-id-value=(@preset_student_id.to_s) data-calendar-lesson-types-seed-value=lesson_types_seed_json data-calendar-show-price-value=can_view_finance?.to_s data-calendar-can-override-value=(current_user.owner? || current_user.admin?).to_s data-calendar-can-manage-teachers-value=can_manage_teachers?.to_s data-calendar-lock-teacher-value=@lock_teacher.to_s data-calendar-current-teacher-id-value=@current_teacher_id.to_s data-calendar-timezone-value=@workspace_timezone data-calendar-create-url-value=new_calendar_path data-calendar-dismiss-url-value=(new_calendar_path(dismiss: 1))
      = render 'create_dialog'
