ul.auth-reqs id=local_assigns.fetch(:id, nil)
  - %w[length upper lower number].each do |key|
    li data-auth-req=key
      span.auth-req-check aria-hidden="true"
      span.auth-req-dot aria-hidden="true"
      = t("registrations.req_#{key}")
