- error_key = local_assigns.fetch(:error_key, name.to_s)

.auth-field
  = f.label name, label
  .auth-input
    = icon_tag 'lock', size: 20
    = f.password_field name, autocomplete: autocomplete, required: true, placeholder: placeholder, data: { auth_password: true }.merge(local_assigns.fetch(:input_data, {}))
    button.auth-eye type="button" data-auth-toggle-password="" aria-label=t('sessions.show_password')
      = icon_tag 'eye', size: 20, data: { auth_eye: 'show' }
      = icon_tag 'eye-off', size: 20, data: { auth_eye: 'hide' }, style: 'display:none'
  p.auth-error hidden=true role="alert" data-auth-error=error_key
