.auth-social
  button.auth-social-btn type="button"
    = image_tag 'brand/google.svg', alt: '', width: 20, height: 20
    = t('sessions.google')
  button.auth-social-btn type="button"
    = image_tag 'brand/apple.svg', alt: '', width: 20, height: 20
    = t('sessions.apple')
