.auth-social
  button.auth-social-btn type="button" data-auth-social="google"
    = image_tag 'brand/google.svg', alt: '', width: 20, height: 20
    = t('sessions.google')
  button.auth-social-btn type="button" data-auth-social="apple"
    = image_tag 'brand/apple.svg', alt: '', width: 20, height: 20
    = t('sessions.apple')
