.danlio-modal.danlio-modal--md.homework-page__modal hidden="hidden" data-homework-target="selectModal"
  button.danlio-modal__backdrop type="button" aria-label=t('app.common.close') data-action="homework#closeSelect"
  .danlio-modal__card role="dialog" aria-modal="true" aria-labelledby="homework-select-title"
    .danlio-modal__head
      div
        h2#homework-select-title.danlio-modal__title = t('app.homework.select_lesson')
        p.danlio-modal__desc = t('app.homework.select_lesson_text')
      button.danlio-modal__close type="button" aria-label=t('app.common.close') data-action="homework#closeSelect" data-modal-focus="true"
        = homework_icon 'x', size: 20
    .danlio-modal__body
      - if @eligible_lessons.any?
        .homework-page__search.homework-page__search--modal
          = homework_icon 'search', size: 18
          input type="search" placeholder=t('app.homework.select_search') aria-label=t('app.homework.select_search') data-homework-target="lessonSearch" data-action="input->homework#filterLessons"
      .homework-page__lesson-empty data-homework-target="lessonEmpty" hidden=(true if @eligible_lessons.any?)
        = homework_icon 'calendar-event', size: 22
        p.homework-page__lesson-empty-title = t('app.homework.select_empty')
        p.homework-page__muted = t('app.homework.select_empty_text')
      p.homework-page__lesson-none hidden="hidden" data-homework-target="lessonNone" = t('app.homework.select_none')
      ul.homework-page__lesson-list data-homework-target="lessonList" hidden=(true if @eligible_lessons.empty?)
        - @eligible_lessons.each do |lesson|
          - lesson_search = "#{lesson_party_label(lesson)} #{lesson_subject_label(lesson)}".downcase
          li data-homework-target="lessonOption" data-search=lesson_search
            button.homework-page__lesson-btn type="button" data-action="homework#pickLesson" data-lesson=(lesson.to_json)
              span
                span.homework-page__lesson-name = lesson_party_label(lesson)
                span.homework-page__muted
                  = lesson_subject_label(lesson)
                  =< '·'
                  =< lesson_type_label(lesson)
              span.homework-page__muted = format_lesson_day_short(lesson[:date])
