- upcoming = lesson_upcoming?(lesson)

.lessons-page__actions data-lesson-menu=lesson[:id]
  = link_to lesson_path(lesson[:id]), class: 'lessons-page__icon-btn', title: t('app.lessons.view_title'), aria: { label: t('app.lessons.view_aria', subject: subject) }, data: lesson_details_turbo do
    = lesson_icon 'eye', size: 20
  - if lesson_editable?(lesson)
    = link_to lesson_edit_dialog_path(lesson), class: 'lessons-page__icon-btn', title: t('app.lessons.edit_title'), aria: { label: t('app.lessons.edit_aria', subject: subject) }, data: calendar_create_turbo_data do
      = lesson_icon 'pencil', size: 20
  button.lessons-page__icon-btn type="button" title=t('app.lessons.more_title') aria-label=t('app.lessons.more_aria', subject: subject) aria-expanded="false" data-lessons-target="menuBtn" data-action="lessons#toggleMenu"
    = lesson_icon 'dots', size: 20
  .lessons-page__menu.lessons-page__menu--hidden data-lessons-target="menu"
    - if upcoming
      = link_to t('app.lessons.cancel_lesson'), cancel_dialog_lesson_path(lesson[:id]), class: 'lessons-page__menu-item', data: lesson_dialog_turbo
    = link_to t('app.lessons.delete_lesson'), delete_dialog_lesson_path(lesson[:id]), class: 'lessons-page__menu-item lessons-page__menu-item--danger', data: lesson_dialog_turbo
