- extra = local_assigns[:mobile] ? ' teachers-page__icon-actions--mobile' : ''

div class="teachers-page__icon-actions#{extra}"
  = link_to teacher_path(teacher[:id]), class: 'teachers-page__icon-btn', title: t('app.common.view'), aria: { label: t('app.teachers.view_aria', name: name) } do
    = icon_tag 'eye', size: 20
  = link_to edit_teacher_path(teacher[:id]), class: 'teachers-page__icon-btn', title: t('app.common.edit'), aria: { label: t('app.teachers.edit_aria', name: name) } do
    = icon_tag 'pencil', size: 20
  - unless teacher[:status].to_s == 'archived'
    a.teachers-page__icon-btn.teachers-page__icon-btn--danger href=teacher_delete_dialog_path(teacher) title=t('app.teachers.delete') aria-label=t('app.teachers.delete_aria', name: name) data-turbo="true" data-turbo-frame="delete_dialog"
      = icon_tag 'trash', size: 20
