- teacher = teacher.with_indifferent_access
- name = teacher_display_name(teacher)
- has_students = teacher_has_students?(teacher, students)

li.teachers-page__row[
  data-teachers-target="row"
  data-name=name.downcase
  data-email=(teacher[:email].to_s.downcase)
  data-status=teacher[:status].to_s
  data-assigned=(has_students ? '1' : '0')
  data-created=(teacher[:createdAt].to_s)
  data-id=teacher[:id]
]
  .teachers-page__teacher
    span.teachers-page__avatar
      - if teacher[:photo].present?
        img.teachers-page__avatar-img alt="" src=teacher[:photo]
      - else
        = teacher_initials(teacher)
      span.teachers-page__color style="background-color: #{teacher_calendar_color(teacher[:calendarColor])}" title=t('app.teachers.calendar_color')
    .teachers-page__teacher-meta
      = link_to name, teacher_path(teacher[:id]), class: 'teachers-page__name'
      p.teachers-page__meta = teacher[:jobTitle].presence || Array(teacher[:subjects]).first(2).join(', ').presence || t('app.common.teacher')
    = render 'row_actions', teacher: teacher, name: name, mobile: true
  .teachers-page__contact
    p = teacher[:email].presence || t('app.common.no_email')
    p = teacher[:phone].presence || t('app.common.no_phone')
  .teachers-page__role = teacher_role_label(teacher[:workspaceRole])
  .teachers-page__status
    = status_badge teacher_status_label(teacher[:status]), tone: teacher_status_tone(teacher[:status])
  .teachers-page__row-actions
    = render 'row_actions', teacher: teacher, name: name
