- content_for :title, "#{t('passwords.title')} | danlio"

.auth-intro
  h1 = t('passwords.heading')
  p = t('passwords.description')

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'auth-fields', novalidate: true }) do |f|
  = render 'users/shared/error_messages'
  .auth-field
    = f.label :email, t('sessions.email')
    .auth-input
      = icon_tag 'mail', size: 20
      = f.email_field :email, autofocus: true, autocomplete: 'email', required: true, placeholder: t('sessions.email_placeholder')
  = f.submit t('passwords.submit'), class: 'auth-submit'

p.auth-switch
  = link_to t('sessions.submit'), new_user_session_path
  |  · 
  = link_to t('sessions.create_account'), new_user_registration_path
