header.header
  .container
    = render 'layouts/logo'
    .header-panel data-home-nav=""
      nav.nav
        a href="#product" = t('header.product')
        a href="#pricing" = t('header.pricing')
        a href="#tutors" = t('header.tutors')
        a href="#schools" = t('header.schools')
      .header-actions
        = render 'layouts/lang_switch'
        - if user_signed_in?
          = link_to t('header.cabinet'), signed_in_home_path, class: 'link-login type-nav'
          = button_to t('header.log_out'), destroy_user_session_path, method: :delete, class: 'btn'
        - else
          = link_to t('header.log_in'), new_user_session_path, class: 'link-login type-nav'
          = link_to t('header.get_started'), new_user_registration_path, class: 'btn'
    button.header-toggle type="button" aria-label=t('header.menu') aria-expanded="false" data-home-menu-toggle=""
      = icon_tag 'menu', size: 20
