doctype html
html lang="#{html_lang}"
  head
    title danlio — #{t('home.hero.title_lead')} #{t('home.hero.title_accent')}
    meta name="viewport" content="width=device-width, initial-scale=1"
    = favicon_link_tag 'favicon.svg'
    link rel="preconnect" href="https://fonts.googleapis.com"
    link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""
    link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet"
    = stylesheet_link_tag "css/application.min", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head

  body class="#{controller_name}-#{action_name}"
    #flash
      = render 'layouts/flash'
    = render 'layouts/header'
    main
      = yield
    = render 'layouts/footer'
