doctype html
html lang="#{html_lang}"
  head
    title = content_for?(:title) ? yield(:title) : 'danlio'
    meta name="viewport" content="width=device-width, initial-scale=1"
    = favicon_link_tag 'favicon.svg'
    link rel="preconnect" href="https://fonts.googleapis.com"
    link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""
    link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet"
    = stylesheet_link_tag "css/application.min", "data-turbo-track": "reload"
    = stylesheet_link_tag "css/app.min", "data-turbo-track": "reload"
    = stylesheet_link_tag "css/student_portal.min", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = csrf_meta_tags
    = csp_meta_tag

  body.student-portal-body class="#{controller_name}-#{action_name}"
    .student-portal
      = render 'student_portal/sidebar'
      .student-portal__main
        = render 'student_portal/header'
        #flash
          = render 'layouts/flash'
        main.student-portal__content
          = yield
      = render 'student_portal/mobile_nav'
