- content_for :title, "#{t('registrations.title')} | danlio"

.auth-intro
  h1 = t('registrations.heading')
  p = t('registrations.description')

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'auth-fields register', novalidate: true, data: { auth_register: true } }) do |f|
  = render 'users/shared/error_messages'
  .auth-field
    label for="user_full_name" = t('registrations.full_name')
    .auth-input
      = icon_tag 'user', size: 20
      input#user_full_name name="full_name" type="text" autocomplete="name" placeholder=t('registrations.full_name_placeholder') required="required"
  .auth-field
    = f.label :email, t('sessions.email')
    .auth-input
      = icon_tag 'mail', size: 20
      = f.email_field :email, autocomplete: 'email', required: true, placeholder: t('sessions.email_placeholder')
  .auth-field
    = f.label :password, t('sessions.password')
    .auth-input
      = icon_tag 'lock', size: 20
      = f.password_field :password, autocomplete: 'new-password', required: true, placeholder: t('registrations.password_placeholder'), data: { auth_password: true, auth_new_password: true }
      button.auth-eye type="button" data-auth-toggle-password="" aria-label=t('sessions.show_password')
        = icon_tag 'eye', size: 20, data: { auth_eye: 'show' }
        = icon_tag 'eye-off', size: 20, data: { auth_eye: 'hide' }, style: 'display:none'
    ul.auth-reqs#password-requirements
      li data-auth-req="length"
        span.dot
        = t('registrations.req_length')
      li data-auth-req="upper"
        span.dot
        = t('registrations.req_upper')
      li data-auth-req="lower"
        span.dot
        = t('registrations.req_lower')
      li data-auth-req="number"
        span.dot
        = t('registrations.req_number')
  .auth-field
    = f.label :password_confirmation, t('registrations.confirm_password')
    .auth-input
      = icon_tag 'lock', size: 20
      = f.password_field :password_confirmation, autocomplete: 'new-password', required: true, placeholder: t('registrations.confirm_placeholder'), data: { auth_password: true }
      button.auth-eye type="button" data-auth-toggle-password="" aria-label=t('sessions.show_password')
        = icon_tag 'eye', size: 20, data: { auth_eye: 'show' }
        = icon_tag 'eye-off', size: 20, data: { auth_eye: 'hide' }, style: 'display:none'
  .auth-check
    input#terms name="terms" type="checkbox" required="required"
    label for="terms"
      = t('registrations.agree')
      =< link_to t('registrations.terms'), '#', target: '_blank'
      =< t('registrations.and')
      =< link_to t('registrations.privacy'), '#', target: '_blank'
  = f.submit t('registrations.submit'), class: 'auth-submit'
  .auth-divider
    span
    p = t('sessions.or')
    span
  = render 'users/shared/social_buttons'

p.auth-switch
  = t('registrations.have_account')
  =< link_to t('sessions.submit'), new_user_session_path
.auth-note
  = icon_tag 'shield', size: 20
  = t('auth.security')
